# Extensions

*.a
*.bat
*.bin
*.dll
*.dot
*.etag
*.exp
*.exe
*.gcda
*.gcno
*.gcov
*.gguf
*.gguf.json
*.ilk
*.lib
*.lastModified
*.log
*.metallib
*.o
*.obj
*.pdb
*.so
*.tmp
!src/cuda/bitnet_kernels/compile.bat

# IDE / OS

.cache/
.ccls-cache/
.direnv/
.DS_Store
.envrc
.idea/
.swiftpm
.vs/
.vscode/
Thumbs.db
nppBackup

# Models
models/*
gpu/checkpoints/*

# Python

/.venv
/venv
/venv_cpu
/venv_gpu
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*/poetry.lock
poetry.toml

build/
.smoke-build/
inference/generation_log.txt
logs/
